/* ANIMATION */
@-moz-keyframes cycle {
	0%  { right:0px; opacity:1; z-index:0;}
	4%  { right:0px; opacity:1; z-index:0;} 
	16% { right:0px; opacity:1; z-index:0;}
	20% { right:0px; opacity:0; z-index:0;}
	36% { right:0px; opacity:0; z-index:-1;}
	40% { right:0px; opacity:0; z-index:-1;}
	41% { right:0px; opacity:0; z-index:-1;}
	76% { right:0px; opacity:0; z-index:-1;}
	80% { right:0px; opacity:0; z-index:-1;}
	96% { right:0px; opacity:0; z-index:0;}
	100%{ right:0px; opacity:1; z-index:0;}
}
@-moz-keyframes cycletwo {
	0%  { right:0px; opacity:0; z-index:-1;}
	16% { right:0px; opacity:0; z-index:0;}
	20% { right:0px; opacity:1; z-index:0;}
	24% { right:0px; opacity:1; z-index:0;} 
	36% { right:0px; opacity:1; z-index:0;}
	40% { right:0px; opacity:0; z-index:0;}
	56% { right:0px; opacity:0; z-index:-1;}
	60% { right:0px; opacity:0; z-index:-1;}
	96% { right:0px; opacity:0; z-index:-1;}
	100%{ right:0px; opacity:0; z-index:-1;}
}
@-moz-keyframes cyclethree {
	0%  { right:0px; opacity:0; z-index:-1;}
	16% { right:0px; opacity:0; z-index:-1;}
	20% { right:0px; opacity:0; z-index:-1;}
	36% { right:0px; opacity:0; z-index:0;} 
	40% { right:0px; opacity:1; z-index:0;}
	44% { right:0px; opacity:1; z-index:0;}
	56% { right:0px; opacity:1; z-index:0;}
	60% { right:0px; opacity:0; z-index:0;}
	76% { right:0px; opacity:0; z-index:-1;}
	80% { right:0px; opacity:0; z-index:-1;}
	81% { right:0px; opacity:0; z-index:-1;}
	100%{ right:0px; opacity:0; z-index:-1;}
}
@-moz-keyframes cyclefour {
	0%  { right:0px; opacity:0; z-index:-1;}
	36% { right:0px; opacity:0; z-index:-1;}
	40% { right:0px; opacity:0; z-index:-1;}
	56% { right:0px; opacity:0; z-index:0;}
	60% { right:0px; opacity:1; z-index:0;}
	64% { right:0px; opacity:1; z-index:0;}
	76% { right:0px; opacity:1; z-index:0;}
	80% { right:0px; opacity:0; z-index:0;}
	96% { right:0px; opacity:0; z-index:-1;}
	100%{ right:0px; opacity:0; z-index:-1;}
}
@-moz-keyframes cyclefive {
	0%  { right:0px; opacity:0; z-index:-1;}
	16% { right:0px; opacity:0; z-index:-1;}
	20% { right:0px; opacity:0; z-index:-1;}
	21% { right:0px; opacity:0; z-index:-1;}
	56% { right:0px; opacity:0; z-index:-1;}
	60% { right:0px; opacity:0; z-index:-1;}
	76% { right:0px; opacity:0; z-index:0;}
	80% { right:0px; opacity:1; z-index:0;}
	84% { right:0px; opacity:1; z-index:0;}
	96% { right:0px; opacity:1; z-index:0;}
	100%{ right:0px; opacity:0; z-index:0;}
}

/* ANIMATION */
@-webkit-keyframes cycle {
	0%  { right:0px; opacity:1; z-index:0;}
	4%  { right:0px; opacity:1; z-index:0;} 
	16% { right:0px; opacity:1; z-index:0;}
	20% { right:0px; opacity:0; z-index:0;} 
	36% { right:0px; opacity:0; z-index:-1;}
	40% { right:0px; opacity:0; z-index:-1;}
	41% { right:0px; opacity:0; z-index:-1;}
	76% { right:0px; opacity:0; z-index:-1;}
	80% { right:0px; opacity:0; z-index:-1;}
	96% { right:0px; opacity:0; z-index:-1;}
	100%{ right:0px; opacity:1; z-index:0;}
}
@-webkit-keyframes cycletwo {
	0%  { right:0px; opacity:0; z-index:-1;}
	16% { right:0px; opacity:0; z-index:0;}
	20% { right:0px; opacity:1; z-index:0;}
	24% { right:0px; opacity:1; z-index:0;} 
	36% { right:0px; opacity:1; z-index:0;}
	40% { right:0px; opacity:0; z-index:0;}
	56% { right:0px; opacity:0; z-index:-1;}
	60% { right:0px; opacity:0; z-index:-1;}
	96% { right:0px; opacity:0; z-index:-1;}
	100%{ right:0px; opacity:0; z-index:-1;}
}
@-webkit-keyframes cyclethree {
	0%  { right:0px; opacity:0; z-index:-1;}
	16% { right:0px; opacity:0; z-index:-1;}
	20% { right:0px; opacity:0; z-index:-1;}
	36% { right:0px; opacity:0; z-index:0;} 
	40% { right:0px; opacity:1; z-index:0;}
	44% { right:0px; opacity:1; z-index:0;}
	56% { right:0px; opacity:1; z-index:0;}
	60% { right:0px; opacity:0; z-index:0;}
	76% { right:0px; opacity:0; z-index:-1;}
	80% { right:0px; opacity:0; z-index:-1;}
	81% { right:0px; opacity:0; z-index:-1;}
	100%{ right:0px; opacity:0; z-index:-1;}
}
@-webkit-keyframes cyclefour {
	0%  { right:0px; opacity:0; z-index:-1;}
	36% { right:0px; opacity:0; z-index:-1;}
	40% { right:0px; opacity:0; z-index:-1;}
	56% { right:0px; opacity:0; z-index:0;}
	60% { right:0px; opacity:1; z-index:0;}
	64% { right:0px; opacity:1; z-index:0;}
	76% { right:0px; opacity:1; z-index:0;}
	80% { right:0px; opacity:0; z-index:0;}
	96% { right:0px; opacity:0; z-index:-1;}
	100%{ right:0px; opacity:0; z-index:-1;}
}
@-webkit-keyframes cyclefive {
	0%  { right:0px; opacity:0; z-index:-1;}
	16% { right:0px; opacity:0; z-index:-1;}
	20% { right:0px; opacity:0; z-index:-1;}
	21% { right:0px; opacity:0; z-index:-1;}
	56% { right:0px; opacity:0; z-index:-1;}
	60% { right:0px; opacity:0; z-index:-1;}
	76% { right:0px; opacity:0; z-index:0;}
	80% { right:0px; opacity:1; z-index:0;}
	84% { right:0px; opacity:1; z-index:0;}
	96% { right:0px; opacity:1; z-index:0;}
	100%{ right:0px; opacity:0; z-index:0;}
}

/* ANIMATION BAR */
@-moz-keyframes fullexpand {
    0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
    4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
   16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.7; }
   17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
   18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }	
}
@-webkit-keyframes fullexpand {
    0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
    4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
   16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.7; }
   17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
   18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }	
}